<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saberbelis.verynice">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/i_see_lancher"
        android:label="@string/ep_neim"
        android:roundIcon="@mipmap/i_see_lancher_rund"
        android:supportsRtl="true"
        android:name=".Epicus"
        android:theme="@style/EpusThemus"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.saberbelis.verynice.MejnAktivus"
            android:label="@string/ep_neim"
            android:theme="@style/EpusThemus.NousEkshionBarus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>